<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ImagiPicto</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <!--<link rel="stylesheet" type="text/css" href="static\styles.css">-->
    </head>
    <body>
        <div class="header" style="height: 100vh;">
            <div class="navbar">
                <div>
                    <a class="logo" href='/'>ImagiPicto</a>
                </div>
                <nav>
                    <ul id='MenuItems'>
                        <li><a href='/'>Home</a></li>
                        <li><a href='#'>About Us</a></li>
                        <li><a href='#'>Pricing</a></li>
                        <li><a href='#'>Contact</a></li>
                        <li><button class='loginbtn' onclick="window.location.href='/loginRegister'">Login</button></li>
                    </ul>
                </nav>
            </div>
            <div id='login-form'class='login-page'>
                <div class="form-box">
                    <div class='forgot'>
                        <p>Forgot Password</p>
                    </div>
                    <form id='login' method="post" action="/getOtp" class='input-group-login'>
                        <input style="width: 77%;" type='text' id="emailid" name="emailid" class='input-field' placeholder='Email Id' value="{{email}}" required>
                        <button type="submit" class="get-otp">Get OTP</button>
                    </form>
                    <form id='login' method="post" action="/validate" class='input-group-login' style="top: 190px;">
                        <input type='otp' id="otp" name="otp" class='input-field'placeholder='Enter OTP' required>
                        <button type='submit'class='submit-btn'>Validate</button>
                        <span class="message">{{res}}</span>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>