<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ImagiPicto</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <!--<link rel="stylesheet" type="text/css" href="static\styles.css">-->
    </head>
    <body>
        <div class="header", style="height: 100vh;">
            <div class="navbar">
                <div>
                    <a class="logo" href='/'>ImagiPicto</a>
                </div>
                <nav>
                    <ul id='MenuItems'>
                        <li><a href='/'>Home</a></li>
                        <li><a href='#'>About Us</a></li>
                        <li><a href='#'>Pricing</a></li>
                        <li><a href='#'>Contact</a></li>
                        <li><button class='loginbtn' onclick="window.location.href='/loginRegister'">Login</button></li>
                    </ul>
                </nav>
            </div>
            <div id='login-form'class='login-page'>
                <div class="form-box">
                    <div class='forgot'>
                        <p>Reset Password</p>
                    </div>
                    <form id='login' method="post" action="/reset" class='input-group-login'>
                        <input type='password' id="newpass" name="newpass" class='input-field' placeholder='New Password' required>
                        <input type='password' id="confirmpass" name="confirmpass" class='input-field'placeholder='Confirm Password' required>
                        <button type='submit'class='submit-btn'>Reset</button>
                        <span class="message">{{res}}</span>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>